@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a GanaSoft</h1>
    <p>Este es un aplicativo especializado en el manejo y gestión del ganado.</a>.</p>
</div>
